@CHARSET "UTF-8";
.mtitle{width:100%;margin:0px auto; height:26px;padding-left:0px;  overflow:hidden; clear:both;}
.z-toolbar{
	border-color:#D7D5D5;border-style:solid;border-width:0 0 1px 0;display:block;padding:2px;background:#E0DEDE url() repeat-x top left;position:relative;zoom:1;
}
.z-btn{display:inline;font:normal 11px tahoma,verdana,helvetica;cursor:pointer;white-space:nowrap;width: auto;}
.z-btn button{border:0 none;background:transparent;FONT-SIZE: 12px; font-family: Arial,Courier New;padding-left:0px;padding-right:0px;margin:0;overflow:visible;width:auto;-moz-outline:0 none;outline:0 none;}
.z-btn-left,.z-btn-right{font-size:1px;line-height:1px;}
.z-btn-left{width:3px;height:25px;background:url(btnout_bg_left.gif) no-repeat 0 0;}
.z-btn-right{width:3px;height:25px;background:url(btnout_bg_right.gif) no-repeat -7px 0px;}
.z-btn-left i,.z-btn-right i{display:block;width:3px;overflow:hidden;font-size:1px;line-height:1px;}

.z-btn .z-btn-center{background:url(btnout_bg_center.gif) repeat-x 0px 0px;vertical-align:middle;text-align:center;padding:0 6px 0 3px;white-space:nowrap;}
.z-btn em{font-style:normal;font-weight:normal;}
.z-btn .z-btn-center .z-btn-text{background-position:0 1px;background-repeat:no-repeat;padding-left:18px;padding-top:2px;padding-bottom:0px;padding-right:0;+width:0;-width:0;}

.z-btn-over .z-btn-left{background:url(btnover_bg_left.gif) no-repeat 0 0;}
.z-btn-over .z-btn-right{background:url(btnover_bg_right.gif) no-repeat -9px 0;}
.z-btn-over .z-btn-center{background:url(btnover_bg_center.gif) repeat-x 0px 0px;}

.z-btn-dsb { opacity:.40;-moz-opacity:.40;filter:alpha(opacity=40);}
.z-btn-dsb .z-btn-left{background:url(btnDsb_bg_left.gif) no-repeat 0 0;opacity:.35;-moz-opacity:.35;filter:alpha(opacity=35);}
.z-btn-dsb .z-btn-right{background:url(btnDsb_bg_right.gif) no-repeat -9px 0;}
.z-btn-dsb .z-btn-center{background:url(btnDsb_bg_center.gif) repeat-x 0px 0px;}

.btn-cls {
    background-image: url(class.gif) !important;
}
.btn-event {
    background-image: url(event.gif) !important;
}
.btn-config {
    background-image: url(config.gif) !important;
}
.btn-show {
    background-image: url(show.gif) !important;
}
.btn-method {
    background-image: url(method.gif) !important;
}
.btn-cmp {
    background-image: url(cmp.gif) !important;
}
.btn-pkg {
    background-image: url(pkg.gif) !important;
}
.btn-fav {
    background-image: url(fav.gif) !important;
}
.btn-static {
    background-image: url(static.gif) !important;
}
.btn-docs {
    background-image: url(docs.gif) !important;
}
.btn-expand-all {
    background-image: url(expand-all.gif) !important;
}
.btn-collapse-all {
    background-image: url(collapse-all.gif) !important;
}
.btn-expand-members {
    background-image: url(expand-members.gif) !important;
}
.btn-hide-inherited {
    background-image: url(hide-inherited.gif) !important;
}
.btn-org {
    background-image: url(org.gif) !important;
}
.btn-save {
    background-image: url(save.gif) !important;
}
.btn-save-back {
    background-image: url(save-back.png) !important;
}
.btn-add {
    background-image: url(add.gif) !important;
}
.btn-delete {
    background-image: url(delete.gif) !important;
}
.btn-add-row {
    background-image: url(add-row.gif) !important;
}
.btn-delete-row {
    background-image: url(delete-row.gif) !important;
}
.btn-back {
    background-image: url(back.png) !important;
}
.btn-copy {
    background-image: url(back.png) !important;
}
.btn-search {
    background-image: url(search.png) !important;
}
.btn-search-row {
    background-image: url(search-row.png) !important;
}
.btn-refresh {
	float:left;
    background-image: url(refresh.png) !important;
}
.btn-reset {
    background-image: url(refresh.png) !important;
}
.btn-print {
    background-image: url(print.gif) !important;
}
.btn-export {
    background-image: url(print.gif) !important;
}
.btn-help {
    background-image: url(help.png) !important;
}
.btn-check {
    background-image: url(check.png) !important;
}
.btn-copy {
    background-image: url(copy.png) !important;
}
.btn-example {
    background-image: url(example.gif) !important;
}
.btn-retry {
    background-image: url(retry.png) !important;
}
.btn-send-now {
    background-image: url(send-now.gif) !important;
}
.btn-receive-now {
    background-image: url(send-receive.gif) !important;
}
.btn-edit {
    background-image: url(edit.png) !important;
}
.btn-edit-direct {
    background-image: url(check.png) !important;
}
.btn-checked {
    background-image: url(checked.gif) !important;
}
.btn-unchecked {
    background-image: url(unchecked.gif) !important;
}
.btn-pick-button {
    background-image: url(pick-button.gif) !important;
}
.btn-cancel {
    background-image: url(cancel.png) !important;
}
.btn-presure-cancel{
    background-image: url(cancel.png) !important;
}
.btn-apply {
    background-image: url(apply.png) !important;
}
.btn-offset {
    background-image: url(offset.png) !important;
}
.btn-grant {
    background-image: url(offset.png) !important;
}
.btn-success {
    background-image: url(success.gif) !important;
}
.btn-sure {
    background-image: url(success.gif) !important;
}
.btn-forum {
    background-image: url(forum.gif) !important;
}
.btn-pdf {
    background-image: url(pdf.gif) !important;
}
.btn-excel {
    background-image: url(excel.gif) !important;
}
.btn-word {
    background-image: url(word.gif) !important;
}
.btn-preprint {
    background-image: url(pre_print.gif) !important;
}
.btn-btncom {
	 background-image: url(show.gif) !important;
	}
/*信息发布省市查询*/
.btn-search_from {
    background-image: url(search.png) !important;
}
.btn-search_to {
    background-image: url(search.png) !important;
}
.btn-search1 {
    background-image: url(search.png) !important;
}
.btn-search2 {
    background-image: url(search.png) !important;
}
.btn-search3 {
    background-image: url(search.png) !important;
}
.btn-search4 {
    background-image: url(search.png) !important;
}
.btn-search5 {
    background-image: url(search.png) !important;
}
.btn-search6 {
    background-image: url(search.png) !important;
}
	
