<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>传化物流-会员中心</title>
    <link rel="stylesheet" href="../js/uploadify/uploadify.css" type="text/css"></link>	  
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
 	<link href="../css/webui/main.css" rel="stylesheet" />
	<link href="../js/sys/ymPrompt/skin/ch/ymPrompt.css" rel="stylesheet" />
	<link href="../js/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
	<link href="../css/themes/subcontractorc/subcontractor_add.css" rel="stylesheet">	
    <link rel="stylesheet" type="text/css" href="../js/sys/ddw/jquery.autocomplete.css" />
    <link rel="stylesheet" href="../js/uploadify/uploadify.css" type="text/css"></link>
    <script src="../js/jquery/jquery-1.8.3.min.js" type=text/javascript></script>
    <script src="../js/sys/webui/contract/header.js"></script>   
    <script src="../js/sys/webui/contract/left.js"></script>   
    <script src="../js/sys/webui/logo.js"></script>   	   	 
	<script src="../js/sys/ymPrompt/ymPrompt.js" type="text/javascript"></script>
	<script type="text/javascript" src="../js/sys/tf56sys.js"></script> 
	<script type="text/javascript" src="../js/sys/ddw/jquery.autocomplete.js"></script> 
	<script type='text/javascript' src='../js/sys/ddw/jquery.ajaxQueue.js'></script>
	<script type='text/javascript' src='../js/sys/ddw/jquery.bgiframe-2.1.2.js'></script>
	<script type="text/javascript" src="../js/uploadify/jquery.uploadify.min.js"></script>   
	<link href="../css/themes/citydistancec/tag.css" rel="stylesheet"></link>
		<!-- 地区插件 -->
	<link href="../js/sys/CityPicker/cityLayout.css" rel="stylesheet" type="text/css" />
	<link href="../css/webui/commonPage.css" rel="stylesheet" />
	<!--<link href="../js/sys/CityPicker/buju.css" rel="stylesheet" type="text/css" />	-->
  <style>
	#btnsave{color:white;font-size:14px;font-weight:bold; margin-left:100px;background-image: url("../imgs/sys/bt-bg.png");background-repeat: no-repeat;border: none;height: 40px;width: 99px;cursor: pointer;}
	#reback{color:white;font-size:14px;font-weight:bold; background-image: url("../imgs/sys/bt-bg.png");background-repeat: no-repeat;border: none;height: 40px;width: 99px;cursor: pointer;} 
  	select{
  		height: 20px;
  		width: 115px;
  		padding-left: 5px;
  		margin-right: 28px;
  	}
  	select option{
  		padding-left: 10px;
  	}
  	.addSpan{
  		display:block;
  		float: none;
  		height: 25px;
  	}
  </style>
    <style>
		#main{width:998px;border:0px solid black;padding:0px;margin:0 auto;}
	</style>
    <link rel="stylesheet" href="../js/uploadify/uploadify.css" type="text/css"></link>	
    <script>
$(function() {
	var topartyid = $("#topartyid").val();
	var isFileExisted=false;//记录是否存在重复文件
	var tips="";//重复文件的提示
	var i = 0;
	$('#file_upload').uploadify({
		"auto": false,
		'successTimeout': 0,
		'removeTimeout': 0,
		'fileTypeDesc': '文件类型',
		'formData': {
			'tablename': 'pact',
			'tableid': 0
		},
		'fileTypeExts': '*.doc; *.docx; *.xls; *.xlsx;*.pdf;*.rar;*.jpg',
		'swf': '../js/uploadify/uploadify.swf',
		'uploader': '../consignorcs/consignor_upload',
		'height': '25',
		'width': '90',
		'buttonText': '上传',
		'fileSizeLimit': '5MB',
		"preventCaching": true,
		"progressData": "speed",
		"removeCompleted": true,
		'multi': true,
		"uploadLimit": 30,
		"method": "post",
		         	'onDialogClose'  : function(queueData) {
         		if(isFileExisted){
				 	ymPrompt.alert("已经存在与 <br/>"+tips+"同名的文件，建议修改文件名！");
					tips="";
					isFileExisted=false;
					return false;
				 }
        	},
         	"onSelect":function(file) {
            	$.ajax( {
            	 async:false, 
				 url : "../contractappendixcs/isExist",
				 dataType : "text",
				 type :'POST',
				 data:{filename:file.name},
				 success : function(data) {
				 if(data=="1"){
				 	isFileExisted=true;
				 	tips+='"'+file.name+'",<br/>';
				 	$('#file_upload').uploadify('cancel',file.id);
				 }
		      }
		     });
        	},
		'onSelectError': function(file, errorCode) {
			if (errorCode == "-120") {
				alert("'" + file.name + "'的内容为空，不能上传！");
			}
			if (errorCode == "-110") {
				alert("'" + file.name + "'文件大小超过5MB！");
			}
		},
		'onUploadStart': function(file) {
			$("#file_upload").uploadify("settings", 'formData', {'tablename': 'party','tableid': $("#topartyid").val()});
		},
		'onUploadSuccess': function(file, data, response) {
			if (data == "existed") {
				return;
			}
			var txt = '<tr id="myfile' + i + '"><td style="color:blue;width:240px">' + file.name + '</td><td><a style="color:blue;cursor:pointer;" onclick="f_deletefile(&quot;' + data + '&quot;,&quot;' + i + '&quot;)">删除</a></td></tr>';
			$("#myfiles").append(txt);
			i++;
		}
		});
		//初始化下拉
		f_contract('货物类型','yshy');
		f_contract('经营范围','jyfw');
		$("#officeaddress").css({
			"height": "24px",
			"line-height": "22px"
		});
	});

    </script>
  </head>
  
  <body>
	<!-- 顶部 --开始  此处须由js动态加入-->
	<div id="header" class="c-header" >
	
	</div>
	<!-- 顶部 --结束-->
	
	<!-- LOGON --开始   此处须由js动态加入-->
	<div id="logo" class="c-logo" >
		
	</div>
	<!-- LOGON --结束-->
	
	<!-- 工作区 --开始-->
	<div id="main">
		<!-- 左侧菜单 --开始  此处须由js动态加入-->
  		<div id="left" class="c-left"> 
		</div>
		<div style=""></div>
		<!-- 左侧菜单 --结束-->
			
		<!-- 右侧工作区 --开始-->
		<div id="right" class="c-right" >
		  	<div id="rigthtag" class="c-right-tag" style="text-align: left;width: 886px;">
				<img src="../imgs/sys/home-icon.jpg"/><a href="../logincs/index_main">首页</a><!--  <span>&gt;</span><a href="javascript:void(0)">基础管理</a>--><span>&gt;</span><a href="../subcontractorcs/subcontractorList?order=14">分包商管理</a><span>&gt;</span><span id="current">新增</span>
			</div>
  		<div class="basic_info">
  			<table class="info">
  				<tr>
  					<td colspan="4"style="text-align: left;font-weight: bold;font-size: 14px;">基本信息<div class="line"></div></td>
  				</tr>
  				<tr>
  					<td class="t_left" style="padding-top:25px;"><input id="topartyid" type="hidden"/><input id="partyid" type="hidden"/><span style="color: red;margin-right:5px;">*</span>会员名</td>
  					<td colspan="3" style="padding-top:25px;"><input class="t_input"  type="text" name="partyname" id="partyname"/><input type="button" name="import" id="btnimport" value="会员导入"/></td>
  				</tr>
  				<tr>
  					<td  class="t_left"><span style="color: red;margin-right:5px;">*</span>联系人</td>
  					<td colspan="3"><input class="t_input"  type="text" name="contact" id="contact" disabled="disabled"/></td>
  				</tr>
  				<tr>
  					<td class="t_left"><span class="t_span">*</span><label>手机</label></td>
  					<td ><input type="text" name="mobilenumber" id="mobilenumber" class="t_input" disabled="disabled"/></td>
  					<td class="t_left">邮箱</td>
  					<td><input type="text" name="email" id="email" value="" class="t_input" disabled="disabled"/></td>
  				</tr>
  				<tr>	
  					<td class="t_left">电话</td>
  					<td> <input type="text" id="telephonenumber" name="telephonenumber" class="t_input" disabled="disabled"/></td>
  					<td class="t_left">传真</td>
  					<td><input type="text" name="fax" id="fax" class="t_input" disabled="disabled"/></td>
  				</tr>
  				<tr>
  					<td colspan="4" style="text-align: left;font-weight: bold;font-size: 14px;">详细信息<div class="line"></div></td>
  				</tr>
  				<tr>
  					<td class="t_left" style="padding-top: 25px;"><span class="t_span">*</span>分包商名称</td>
  					<td style="padding-top: 25px;"><input class="t_input" type="text" name="subcontractorname" id="subcontractorname" disabled="disabled"/></td>
  					<td class="t_left" style="padding-top:25px;"><span style="color: red;margin-right:5px;">*</span>助记码</td>
					<td style="padding-top:25px;"><input class="t_input" type="text" name="helpcode" id="helpcode"/></td>	  				
  				</tr>
  				<tr>
  					<td class="t_left">所在地</td>
  					<td><input disabled="disabled" type="text" name="officeaddress" id="officeaddress" class="city_input  inputFocus proCityQueryAll proCitySelAll" style="color: #444444;height: 28px;line-height: 26px;width: 190px;"/></td>
  					<td class="t_left">详细地址 </td>
  					<td><input type="text" name="detailaddress" id="detailaddress" class="t_input"/></td>
  				</tr>
  				<tr>
  					<td class="t_left">注册法人</td>
  					<td ><input disabled="disabled" type="text" class="t_input"  name="legalperson" id="legalperson"/></td>
  					<td class="t_left">注册资金（万元）</td>
  					<td><input type="text" name="registeredcapital" id="registeredcapital" class="t_input"/></td>
  				</tr>
  				<tr>
  					<td class="t_left">员工数量</td>
  					<td ><input type="text" name="employeescount" id="employeescount" class="t_input"/></td>
  					<td class="t_left"><span style="color: red;margin-right:5px;">*</span>业务员</td>
  					<td><input type="text" name="saler" id="saler" class="t_input"/></td>
  				</tr>
  				<tr id="addTr1">
  					<td class="t_left"><span class="t_span">*</span>优势行业</td>
  					<td id="yshyTd1" class="yshyTd">
  						<span class="addSpan" style="float: left;width: 120px;"><select id="yshy" ></select></span><span><button class="btn-white fn-noborder" style="margin-left: 20px;" onclick="addSelect('yshy','')">添加</button></span>
  					</td>
  					<td class="t_left"><span class="t_span">*</span>经营范围</td>
  					<td id="jyfwTd1" class="jyfwTd">
  						<span class="addSpan" style="float: left;width: 120px;"><select id="jyfw"></select></span><span><button class="btn-white fn-noborder" style="margin-left: 20px;" onclick="addSelect('jyfw','')">添加</button></span>
  					</td>
  				</tr>
  				<tr>
  					<td class="t_left"><span class="t_span" style="width: 10px;margin:0 5px 0 0;">*</span>车辆数量（辆）</td>
  					<td ><input type="text" id="clsl" class="t_input"/></td>
  					<td class="t_left">投保金额（万元）</td>
  					<td><input type="text" id="tbje" class="t_input"/></td>
  				</tr>
  				<tr>
  					<td class="t_left">年营业额（万元）</td>
  					<td ><input type="text" id="nyye" class="t_input"/></td>
  					<td class="t_left">网点数量（个）</td>
  					<td><input type="text"  id="wdsl" class="t_input"/></td>
  				</tr>
  				<tr>
  					<td class="t_left">年运输量（吨）</td>
  					<td ><input type="text" id="nysl" class="t_input"/></td>
  					<td class="t_left">是否使用系统</td>
  					<td><select id="syxt" style="width: 60px;"><option  value="否">否</option><option  value="是">是</option></select></td>
  				</tr>
				<tr>
					<td style="padding-top: 5px;text-align: right;vertical-align: top;">附件&nbsp;&nbsp;</td>
					<td colspan="3">
						<input type="file" name="file_upload" id="file_upload" style="color: black;" />	<table id="myfiles"></table><span style="color:#C7C7C7;">&nbsp;支持doc、excel、pdf、rar等文件格式，最大不要超过5M</span>
					</td>
  				</tr>
				<tr>
					<td class="t_left">备注</td>
					<td colspan="3" ><textarea id="description" name="description" class="t_input" style="color: #444444;"></textarea></td>
				</tr>
				<tr>
					<td colspan="4">
						<input type="button" id="btnsave" name="btnsave" value="保存"/>
						<input type="button" id="reback" name="reback" value="返回列表" onclick='window.location="../subcontractorcs/subcontractorList?order=14"'/>
					</td>
				</tr>
  			</table>
  			<div id="yshyDiv" style="display: none;">
  				<select class="yshy">
  					<option value="0"></option>
  				</select>
  			</div>
  			<div id="jyfwDiv" style="display: none;">
  				<select class="jyfw"></select>
  			</div>
  		</div>
		</div>
		<!-- 右侧工作区 --结束-->
		
	</div>
	<!-- 工作区 --结束-->
	
	<!-- 底部 --开始  此处须由js动态加入-->
	<div id="footer" class="c-footer">
		
	</div>
	<!-- 底部 --结束-->
		<!--弹出省省市-->
		<div class="provinceCityAll">
		  <div class="tabs clearfix">
		    <ul class="">
		      <li><a href="javascript:" class="current" tb="hotCityAll">热门城市</a></li>
		      <li><a href="javascript:" tb="provinceAll">省份</a></li>
		      <li><a href="javascript:" tb="cityAll" id="cityAll">城市</a></li>
		      <li><a href="javascript:" tb="countyAll" id="countyAll">区县</a></li>
		    </ul>
		  </div>
		  <div class="con">
		    <div class="hotCityAll invis">
		      <div class="pre"><a></a></div>
		      <div class="list">
		        <ul>
		          <!-- 					<li><a href="javascript:"  class="current">南京</a></li> -->
		        </ul>
		      </div>
		      <div class="next"><a class="can"></a></div>
		    </div>
		    <div class="provinceAll invis">
		      <div class="pre"><a></a></div>
		      <div class="list">
		        <ul>
		          <!-- 					<li><a href="javascript:"  class="current">江西省</a></li> -->
		        </ul>
		      </div>
		      <div class="next"><a class="can"></a></div>
		    </div>
		    <div class="cityAll invis">
		      <div class="pre"><a></a></div>
		      <div class="list">
		        <ul>
		          <!-- 					<li><a href="javascript:"  class="current">南京</a></li> -->
		        </ul>
		      </div>
		      <div class="next"><a class="can"></a></div>
		    </div>
		    <div class="countyAll invis">
		      <div class="pre"><a></a></div>
		      <div class="list">
		        <ul>
		        </ul>
		      </div>
		      <div class="next"><a class="can"></a></div>
		    </div>
		  </div>
		</div>	
	<script>
   	$("#btnimport").click(function(){
   		//alert($("#partyname").val())
   		ymPrompt.win({message:"../subcontractorcs/party_import?partyname="+trim($("#partyname").val())+"&partyid="+$("#partyid").val(),width:650,height:600,fixPosition:true,dragOut:false,title:'选择分包商',iframe:true});
   	});
  </script>
  <script type="text/javascript" src="../js/themes/subcontractorc/subcontractor_add.js"></script>	
  <script src="../js/sys/CityPicker/public.js"></script>
  </body>
  </html>