@CHARSET "UTF-8";
.btn{
	display: inline-block;
  	position: relative;
  	margin: 10px;
  	padding: 0 20px;
 	text-align: center;
   	text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor:pointer;
	}
a:hover{
	color:#ec6110;
	}
input{
	height:25px;
	width:110px;
}
#conditionTable{
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	cellspacing:0px
}
#conditionTable td{border-width:0px}
#conditionTable span{margin-right:5px}
#hgrid_div{
	overflow-x:auto;
	width:820px;
	margin:0px;
	padding:0px;
}
li a input{height:20px;width:80px}