#accordion{ width:150px;overflow:hidden;}
.c-left li{height:26px;padding-left:5px;padding-left:5px;text-align:left;}
.l-accordion-header-inner{height:30px;padding-top:3px;padding-left:8px;text-algin:left;color:#666666;float:left;}
.c-left li a{padding-top:6px;padding-bottom:6px;padding-left:20px;text-algin:left;color:#666666;text-decoration:none;}
