@CHARSET "UTF-8";
 #li{
    border-left: 1px solid #D3D7D4;
    border-right: 1px solid #D3D7D4;
    border-top: 2px solid #EC6110;
    display: block;
    float: left;
    font-weight: bold;
    height: 30px;
    line-height: 24px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
	}
#li0{
	border-bottom: 1px solid #D3D7D4;
    height: 42px;
    margin-left: 121px;
    text-align: right;
}
input[type="text"]{
	width: 105px;
	height: 25px;
	padding-left: 5px;
	line-height: 24px;
	padding-left: 5px;
	color: #444444;
	border: 1px solid #D3D7D4;
}
input[type="text"]:HOVER{
	width: 105px;
	height: 25px;
	padding-left: 5px;
	line-height: 24px;
	border: 1px solid #a0cfe0;
}
#btnquery{
	background-color:#fcfcfc ;
	border: 1px solid #999999;
	cursor: pointer;
	height: 25px;
	margin-left: 10px;
	padding: 0;
	width: 60px;
}
#li0 >label{margin-left: 25px;margin-right: 5px;}
#li0 label{margin-right: 5px;}
.btn{    
	border-radius: 2px 2px 2px 2px;
    display: inline-block;
    font: bold 12px/25px Arial,sans-serif;
    margin: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.22);
    }
		#btnadd{
			width: 86px;
			height: 27px;
			line-height: 24px;
			cursor: pointer;
			background-color: #ef6d21;color:#ffffff;
			font-weight: bold;border: none;
			margin-left:15px; 
			border-right-width: 0px;
			margin-right: 0px;
		}
		#btnadd:hover{
			height: 27px;
			line-height: 24px;
			cursor: pointer;
			background-color: #ec6110;color:#ffffff;
			background-color: #dc5708;color:#ffffff;
		} 
		#tab-query,.hgrid,.right_center{
			margin-top: 24px;
		} 
		input[type="text"]{
			width: 110px;
			height: 25px;
			padding-left: 5px;
			line-height: 24px;
			padding-left: 5px;
			color: #444444;
			}
		input[type="text"]:HOVER{
			width: 110px;
			height: 25px;
			padding-left: 5px;
			line-height: 24px;
			border: 1px solid #a0cfe0;
		}
		#settledate{
			width: 120px;
			display: inline;
		}	
		.hgrid{
			width: 100%;
		}	
		#hgrid,#hgrid1{
			width: 100%;
			padding: 0;
			margin: 0;
			table-layout: fixed; 
			border-collapse:collapse;
		} 
		#hgrid TH{
			height: 30px;
			background-color: #EEEEEE;
		} 
		#hgrid1 td{
			text-align: left;
			height: 30px;
		}
		#hgrid1 tr:hover{
			background-color: #FFFEDB;
		}
		#print,#reback,#save{
			width: 86px;
			height: 36px;
			line-height: 30px;
			cursor: pointer;
			background-color: #ef6d21;color:#ffffff;
			font-weight: bold;border: none;
			margin-left:15px; 
			border-right-width: 0px;
			margin-right: 0px;
		}
		#print:hover,#reback:hover,#save:hover{
			height: 36px;
			line-height: 30px;
			cursor: pointer;
			background-color: #ec6110;color:#ffffff;
			background-color: #dc5708;color:#ffffff;
		}