<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<title>运单签收</title>
		<link href="../css/webui/hgrid.css" rel="stylesheet" />
		<link href="../js/sys/ymPrompt/skin/ch/ymPrompt.css" rel="stylesheet" />
		<link href="../css/webui/commonPage.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="../js/sys/ymPrompt/ymPrompt.js"></script>
		<script src="../js/jquery/jquery-1.8.3.min.js" type=text/javascript></script>
		<script type="text/javascript" src="../js/themes/waybillc/waybillSignAdd.js"></script>
		<style>
			tr td{
				border: none;
			}
		</style>
	</head>
	<body style="overflow: hidden;">
		<div style="padding: 15px;">
			<table style="height: auto;border: none;table-layout: fixed;">
				<tr>
					<td class="tdright">运单号</td>
					<td colspan="5" class="tdleft" style="padding-left: 10px;">
						<font id="waybillnumber" color="#1560ea" size="5px;" style="font-weight: bold;"></font>
					</td>
				</tr>
				<tr> 
					<td class="tdright"><font color="red">*</font>签收人</td>
					<td style="padding-left: 10px;">
						<input id="signman" type="text" class="com_input" />
					</td>
					<td class="tdright" style="padding-left: 40px;">签收状态</td>
					<td colspan="2" style="padding-left: 10px;"> 
						<select id="signstatus" style="float: left;width: 112px;height: 25px;">
							<option value="签收成功">签收成功</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="tdright">回单方式</td>
					<td style="padding-left: 10px;">
						<select id="backbilltype" style="float: left;width: 112px;height: 25px;">
							<option value="">请选择</option>
						</select>
					</td>
					<td class="tdright"><font color="red">*</font>签收数量</td>
					<td style="padding-left: 10px;">
						<input id="signnum" type="text" class="com_input" style="width:110px;"/>						
					</td>
					<td style="padding-left: 5px;">/应收数量<span id="numSum"></span></td>
				</tr>
				<tr>
					<td class="tdright">备注</td>
					<td colspan="3" style="padding-left: 10px;">
						<input type="text" id="memo" class="com_input" style="width: 330px;float: left;"/>
					</td>
				</tr>
			</table>
		</div>
		<div style="text-align: left;margin-top: 3px;padding-left: 75px;">
  			<input class="btn_submit" type="button" id="save" value="确定" onclick="btnSave()"/>
  			<input class="btn_submit" type="button" id="reback" value="取消" onclick="window.parent.ymPrompt.doHandler('close',true)"/>
  		</div>
  		<script>
				
		</script>
	</body>
</html>
