<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:flex="http://www.springframework.org/schema/flex"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/flex	http://www.springframework.org/schema/flex/spring-flex-1.0.xsd
   http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

	

    <!-- tomcat5: <bean id="wlfpDs" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">-->
    <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource" destroy-method="close" >
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="maxActive" value="50" />
        <property name="maxIdle" value="20"></property>
        <property name="minIdle" value="5"></property>
        <property name="maxWait" value="60000"></property>
        <property name="validationQuery" value="select 1 from dual"/>
    </bean>
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocations" value="classpath:/config/sqlmap/*.xml"/>
    </bean>

   
   <!-- DAO start -->
   
	<bean name="baseDao" class="com.cy.common.dao.BaseDao">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean> 
  
   <!-- DAO end -->
   
   <!-- 用户DAO 
   <bean name="webUserInfoDao" class="com.cy.webUser.dao.imp.WebUserInfoDaoImp" parent="baseDao">
   </bean>-->
   <!-- App登录dao -->
   <bean name="loginUserInfoDao" class="com.cy.driver.user.dao.impl.LoginUserInfoDaoImpl" parent="baseDao">
   </bean>
   <!-- 预约dao -->
   <bean name="driverBusinessLineInfoDao" class="com.cy.driver.order.dao.impl.DriverBusinessLineInfoDaoImpl" parent="baseDao">
   </bean>
   <!-- 货源信息dao -->
  <bean name="driverUserCargoInfoDao" class="com.cy.driver.user.dao.impl.DriverUserCargoInfoDaoImpl" parent="baseDao">
  </bean>
  <!-- 货源信息列表dao -->
  <bean name="orderCargoInfoDao" class="com.cy.driver.cargo.dao.impl.OrderCargoInfoDaoImpl" parent="baseDao"></bean>
  <!-- WEB司机线路dao -->
  <bean name="driverLineInfoDao" class="com.cy.driver.line.dao.impl.DriverLineInfoDaoImpl" parent="baseDao"></bean>
  <!-- 订单dao -->
  <bean name="transactionInfoDao" class="com.cy.driver.transaction.dao.impl.TransactionInfoDaoImpl" parent="baseDao"></bean>
  <!-- 所有报过价的订单dao -->
  <bean name="quoteInfoDao" class="com.cy.driver.record.dao.impl.QuoteInfoDaoImpl" parent="baseDao"></bean>
  <!-- 位置信息dao -->
  <bean name="locationLastInfoDao" class="com.cy.driver.location.dao.impl.LocationLastInfoDaoImpl" parent="baseDao"></bean>
  <!-- 货源评价 -->
  <bean name="driverUserAssessInfoDao" class="com.cy.driver.assess.dao.impl.DriverUserAssessInfoDaoImpl" parent="baseDao"></bean>
  
  <!-- 操作日志记录 -->
  <bean name="operationLogDao" class="com.cy.driver.operationLog.dao.impl.OperationLogDaoImpl" parent="baseDao" />
  
  <!-- web 用户 -->
  <bean name="webUserInfoDao" class="com.cy.driver.webUser.dao.impl.WebUserInfoDaoImpl" parent="baseDao" />
  
  <!-- 回单操作 -->
  <bean name="transactionReceiptPathDao" class="com.cy.driver.receipt.dao.impl.TransactionReceiptPathDaoImpl" parent="baseDao"/>
  
  <!-- 合同车源 -->
  <bean name="pactDriverInfoDao" class="com.cy.driver.pactDriver.dao.impl.PactDriverInfoDaoImpl" parent="baseDao" />
</beans>