<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:flex="http://www.springframework.org/schema/flex"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/flex	http://www.springframework.org/schema/flex/spring-flex-1.0.xsd
   http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

	

    <!-- tomcat5: <bean id="wlfpDs" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">-->
    <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource" destroy-method="close" >
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="maxActive" value="50" />
        <property name="maxIdle" value="20"></property>
        <property name="minIdle" value="5"></property>
        <property name="maxWait" value="60000"></property>
        <property name="validationQuery" value="select 1 from dual"/>
    </bean>
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocations" value="classpath:/config/sqlmap/*.xml"/>
    </bean>

   
   <!-- DAO start -->
   <bean name="baseDao" class="com.cy.dcts.common.dao.BaseDao">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
   </bean>
   
   <!-- 合同司机信息Dao -->
    <bean name="pactDriverInfoDao" class="com.cy.dcts.pactDriverInfo.dao.imp.PactDriverInfoDaoImp" parent="baseDao">
  </bean>
   
   <!-- 司机对货源的点评 Dao -->
    <bean name="driverCargoAssessDao" class="com.cy.dcts.driverCargoAssess.dao.imp.DriverCargoAssessDaoImp" parent="baseDao">
  </bean>
   <!-- 货源Dao -->
   <bean name="orderCargoInfoDao" class="com.cy.dcts.orderCargo.dao.imp.OrderCargoInfoDaoImp" parent="baseDao">
  </bean>
  <!-- 货源历史记录Dao -->
   <bean name="orderCargoLastDao" class="com.cy.dcts.orderCargoLast.dao.imp.OrderCargoLastDaoImp" parent="baseDao">
  </bean>
  
  <!--车源Dao -->
  <bean name="driverUserCarInfoDao" class="com.cy.dcts.driverCar.dao.imp.DriverUserCarInfoDaoImp" parent="baseDao">
  </bean>

  <!--司机位置Dao -->
  <bean name="locationInfoDao" class="com.cy.dcts.location.dao.imp.LocationInfoDaoImp" parent="baseDao">
  </bean>
  
  <!-- 货主对司机的评价Dao -->
  <bean name="userDriverAssessInfoDao" class="com.cy.dcts.userDriverAssess.dao.imp.UserDriverAssessInfoDaoImp" parent="baseDao"></bean>
  
  <!-- 成交(订单)Dao -->
   <bean name="transactionInfoDao" class="com.cy.dcts.transaction.dao.imp.TransactionInfoDaoImp" parent="baseDao"></bean>
   <!-- 成交历史记录（订单历史记录）Dao -->
   <bean name="transactionLastDao" class="com.cy.dcts.transactionLast.dao.imp.TransactionLastDaoImp" parent="baseDao"></bean>
   <!-- 用户DAO -->
   <bean name="webUserInfoDao" class="com.cy.dcts.webUser.dao.imp.WebUserInfoDaoImp" parent="baseDao">
   </bean>
   
   <!-- 公司DAO -->
   <bean name="companyDao" class="com.cy.dcts.company.dao.imp.CompanyDaoImp" parent="baseDao">
   </bean>
   
   <!-- 短信DAO -->
   <bean name="noteDao" class="com.cy.dcts.note.dao.imp.NoteDaoImp" parent="baseDao">
   </bean>
   <!-- 评价管理dao -->
   <bean name="userDriverAssessInfoLoadDao" class="com.cy.dcts.webUser.dao.imp.UserDriverAssessInfoDaoImpl" parent="baseDao">
   </bean>
   
   <!-- 司机预约线路dao -->
   <bean name="driverCarLineDao" class="com.cy.dcts.driverLine.dao.imp.DriverCarLineDaoImp" parent="baseDao">
   </bean>
   
   <!-- 操作日志记录dao -->
   <bean name="operationLogDao" class="com.cy.dcts.log.dao.impl.OperationLogDaoImpl" parent="baseDao" />
   
   <!-- 身份证信息验证dao -->
   <bean name="identityVerifyDao" class="com.cy.dcts.identityVerify.dao.impl.IdentityVerifyDaoImpl" parent="baseDao" />
    <!-- DAO end -->
</beans>