@CHARSET "UTF-8";
a:hover{color:#ec6110}
.myTable{
	width:100%;
	background-color:#f9f9f9;
	font-size:12px;
}
.myTable td{height:36px;}
.tdleft{text-align:left;}
.tdright{text-align:right;}
.tdcenter{text-align:center;}
.tab{
	border-style:solid;
	border-width:3px 1px 1px 1px;
	border-color:#ec6110 #C7C7C7 white;
	font-weight:bold;
	width:100px;
	padding:7px;
	float:left;
	height:16px;
}
#middle{margin-top:20px;border-bottom:1px solid #C7C7C7;padding:0px;height:30px;height:33px}
.middle_left{float:left;width:80%;}
.middle_right{float:left;width:20%;}
#list_head{width:100%;margin-top:20px;font-size:12px;border:1px solid #c7c7c7;}
#list_head th{height:30px;background-color:#eeeeee;}
#list_body{width:100%;margin-top:0px;font-size:12px;}
#list_body td{height:36px;}
.td0{width:50px;text-align:center;}
.td1{width:165px;text-align:left;}
.td2{width:165px;text-align:left;}
.td3{width:150px;text-align:left;}
.td4{width:100px;text-align:left;}
.td5{width:100px;text-align:left;}
.td6{width:50px;text-align:center;}
input{height:25px;}
.btn{
	height:30px;
	width:93px;
 	text-align: center;
   	text-decoration: none;
    font: bold 14px/25px Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border:0px;
    background-color:#ec6110;
    color:white;
    cursor:pointer;
    margin:0px;
}
.error{border:1px solid red;}
.tips{border:0px;color:white;font-size:12px;background-color:red;margin:0px;position:absolute;}