<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate"/>
    <title>修改结算单</title>
	<link href="../css/webui/main.css" rel="stylesheet" />
    <link href="../css/themes/citydistancec/tag.css" rel="stylesheet"></link>	
	<link href="../js/sys/ymPrompt/skin/ch/ymPrompt.css" rel="stylesheet" />
    <script src="../js/jquery/jquery-1.8.3.min.js" type=text/javascript></script>
    <script src="../js/sys/webui/contract/header.js"></script>    	
    <script src="../js/sys/webui/logo.js"></script>   	 
    <script src="../js/sys/webui/contract/left.js"></script> 
	<script src="../js/sys/webui/hgrid.js" type="text/javascript"></script>
	<script src="../js/sys/ymPrompt/ymPrompt.js" type="text/javascript"></script>
	<link href="../css/themes/settlebillc/inAdd.css" rel="stylesheet"/>
	<script type="text/javascript" src="../js/sys/webui/hgrid.js"></script>		
	<style type="text/css">
	.waybillnumber a,.action a{
			color: #1560ea;
			cursor: pointer;
		}
		.waybillnumber a:hover,.action a:hover{
			color: #ec6110;
			cursor: pointer;
		}
	</style>
	<script type="text/javascript">
	</script>	
 </head>
  <body>
    	<!-- 顶部 --开始  此处须由js动态加入-->
		<div id="header" class="c-header" >
		</div>
		<!-- 顶部 --结束-->
		<!-- LOGON --开始   此处须由js动态加入-->
		<div id="logo" class="c-logo" >
		</div>
	<!-- LOGON --结束-->
	<div id="main" class="c-main">
  		<div id="left" class="c-left">
			<div id="accordion"> 
			</div>  
		</div>
  		<div id="right" class="c-right" style="text-align: left;">
  			<div id="rigthtag" class="c-right-tag" style="text-align: left;">
				<img src="../imgs/sys/home-icon.jpg"/><a href="../logincs/index_main">首页</a><!-- <span>&gt;</span><a href="javascript:void(0)">结算管理</a> --><span>&gt;</span><a href="../settlebillcs/inList?order=7">应收结算管理</a><span>&gt;</span><span id="current">修改</span>
			</div>
			<div class="right_center">
				<label for="consignor" style="margin-left: 30px;margin-right: 5px;">发货方名称</label>
				<span id="consignor" style="position: absolute; width: 123px;"></span>
				<div style="margin-left: 200px;display: inline;width: 150px;"><label style="margin-right: 5px;">结算期:</label><span id="settledate"></span></div>
				<div style="margin-left: 30px;display: inline;width: 250px;position: absolute;"><label >应收费用合计(元):</label>
				<span id="needinallamount"></span></div>
			</div>
			<div id="tab-query">
				<div id="li-div0">
				<ul>
				<li id="li">托运单列表</li>
				<li id="li0">
					<label>运单号</label><input id="waybillnumber" name="waybillnumber" type="text" class=""/>
					<label>客户单号</label><input id="clientnumber" type="text" name="clientnumber" class=""/>
					<input id="btnquery" value="查询" type="button" class="btn" onclick="selectList(this)"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<input id="btnadd" onclick="add()" class="btn" type="button" value="添加托运单"/>					
				</li>
				</ul>
				</div>
			</div>	
			<div class="hgrid" style="width:820px;background-color:#eeeeee;border: 1px solid #EEEEEE;">
				<table id="hgrid" style="width:800px;">
					<tr>
						<th style="padding-left:10px;width: 100px;" class="waybillnumber">托运单号</th>
						<th class="consigndate" style="width: 80px;">托运日期</th>
						<th class="clientnumber" style="width: 100px;">客户单号</th>
						<th class="goodsname" style="width: 80px;">货物名称</th>
						<th class="num" style="width: 80px;">数量</th>
						<th class="weight" style="width: 80px;">重量(公斤)</th>
						<th class="volume" style="width: 80px;">体积(立方)</th>
						<th class="amount" style="width: 100px;">应收费用(元)</th>
						<th class="action" style="width: 80px;">操作</th>
					</tr>
				</table>
			</div>
			<div style="width:820px; overflow-y: auto;border-width: 1px;height: 200px;overflow-x: hidden;border: 1px solid #EEEEEE;">
	  			<table id="hgrid1" style="width:800px;height: auto;">
	  			</table>
  			</div>	
  			<div style="width:820px;text-align: center;margin-top: 15px;">
  				<input class="btn" value="打印" type="button" id="print"/>
  				<input class="btn" value="返回列表" type="button" id="reback" onclick='window.location=("../settlebillcs/inList?order=7")'/>
  			</div>	
  		</div>
	</div>
	<div id="footer" class="c-footer">
	</div>
	<script src="../js/themes/settlebillc/inUpdate.js" type="text/javascript"></script>
		<script  type="text/javascript">
		function exportCsv(){
			window.open("../settlebillcs/exportFile?random="+Math.random());
		}
	
	</script>
  </body>
</html>
