.Wdate{
	border:#999 1px solid;
	line-height:16px;
	padding:3px 2px;
	background:#fff url(datePicker.gif) no-repeat right;
	padding-right:10px
}
.WdateFmtErr{
	font-weight:bold;
	color:red;
}