@CHARSET "UTF-8";
td{
	font-size:12px;
}
.btn{
	width:70px;
	height:30px;
	margin:10px 10px 0px 0px;
	padding:0px;
	border:0px;
	cursor:pointer;
	background-color:#ec6110;
	color:white;
	font-size:larger;
	display: inline-block;
  	position: relative;
 	text-align: center;
   	ext-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
input{
	height:25px;
	width:100%;
}
tr{
	height:35px;
}
select{
	height:25px;
	width:155px;
}
li a{font-size:12px}
li a input{height:20px}