@CHARSET "UTF-8";
html>body td{ font-size:12px;}
body,td,th {font-family: "微软雅黑","宋体", Arial;font-size: 12px;}
.page_nav{clear:both; padding:15px 0; color:#666; font:normal 12px/24px Arial; text-align:center;}
.page_nav a{outline:none;display:inline-block;height:24px; margin:0 0px; border:none; padding:0 4px; background:#fff;    color:#333; line-height:24px; text-decoration:none;}
.page_nav strong {height:24px; margin:0 0px; border:none; padding:0 4px; background:#07519a; color:#fff; line-height:24px; text-decoration:none; }
.page_nav a:hover{height:24px; margin:0 0px; border:solid 0px #dbe5ee; padding:0 4px; background:#07519a; color:#fff; line-height:24px; text-decoration:none;}
.page_nav a.select{cursor:default;}
a {color: #1560ea;text-decoration:none;}
.table1{
width:820px;
height:230px;
/**border:1px solid #CCCCCC;**/
}
.tr2{
}
.table1 .tr2 td{ border-bottom:inset;
border-bottom-color:#CCCCCC;
border-bottom-width:thin;}

#addform_input{
	height:25px;
	width:120px;
}

.addform_input{
	height:25px;
	width:120px;
}


.table2{
width:820px;
height:100%;
border-collapse:collapse;
}


#addform_inputes{
	height:25px;
	width:55px;
}

.tr1{
background-color:#999999;
height:30px;
}

.table3{
width:820px;
height:250px;}

.table3 .tr3{

}
.table3 .tr3 td{ border-bottom:inset;
border-bottom-color:#CCCCCC;
border-bottom-width:thin;}


<!-- 列表样式开始 author:wei.huang -->
p{margin:2px;}
#hgrid {
	width: auto;
	padding: 0;
	margin: 0;
	table-layout:fixed;
	border-collapse:collapse;
	}
#hgrid tr th {
	height:30px;
	font-family:"微软雅黑","宋体",Arial;
	font-size:13px;
	color:#1c1c1c;
	border-right: 0px;
	border-bottom: 0px;
    border-top: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin:auto;
    text-align:left;
    padding: 6px 3px 6px 3px;
    background-color:#e8e8e8;
}
#hgrid tr td {
	height:30px;
	border-top:0px solid #FDE6C3;
	border-right:0px solid #FDE6C3;
	border-bottom:0px solid #DDDDDD;
	font-size:12px;
	color:#1c1c1c;
	text-align:left;
	padding: 0;
	}
.tdright{text-align:right;}
.tdleft{text-align:left;}
.tdcenter{text-align:center;}

